*{
    margin: 0%;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width:300px;
    height: 300px;
    border: 2px solid black;
}
img{
    width: 100%;
    height: 70%;
}
.content{
    height: 30%;
}
.part1, .part2, .part3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

@media (max-width:424px){
     body{
        background-color: thistle;
     }
}
@media (min-width:425px) and (max-width:768px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    body{
        background-color: tan;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    body{
        background-color:rosybrown;
    }
}
@media (min-width:1025px) and (max-width:1440px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    body{
        background-color:powderblue;
    }
}
@media (min-width:1441px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    body{
        background-color:peachpuff;
    }
}
